.search-bar {
    display: block;
}



.thumbnail {
    width: 300px;

}


.thumbnail2 {
    width: 300px;
}

.video-preview {
    display: inline-block;
    width: 300px;
    margin-right:15px;
    
}

.video-preview2 {
    display: inline-block;
    width: 300px;
    vertical-a